<%- include("partials/header"); %>

<div class="card mb-3" style="margin: auto;">
    <div class="row no-gutters">
    <div class="col-md-4">
        <img src="<%= book.image %>" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <p class="card-text"><b>Author:</b> <%= book.author %></p>
        <p class="card-text"><b>Publisher:</b> <%= book.publisher %></p>
        <p class="card-text"><b>ISBN:</b> <%= book.ISBN %></p>
        <p class="card-text"><b>Sumarry:</b> <%= book.summary %></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <div id="show-buttons">
            <a href="/books/<%= book._id %>/edit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit</a>
            <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger btn-lg">Remove</button>
            </form>
            <% if(book.quantity > 0) { %>
                <a href="/books/<%= book._id %>/checkout" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Checkout</a>
            <% } else { %>
                <a href="" class="btn btn-primary btn-lg disabled" role="button" aria-pressed="true">Unavailable</a>
            <% } %>
            
        </div>

    </div>
    </div>
    </div>
</div>
<!-- <img src="<%= book.image %>" alt="">
<p>Author: <%= book.author %></p>
<p>Title: <%= book.title %></p>
<p>Publisher: <%= book.publisher %></p>
<p>ISBN: <%= book.ISBN %></p>
<p>Summary: <%= book.summary %></p> -->

<%- include("partials/footer"); %>